<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952211328639-9bv4k4a80o1hosnqt8e6fflgoke9cg5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952211328639-9bv4k4a80o1hosnqt8e6fflgoke9cg5o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>952211328639-lbiq83vq8in2r9fj3okpms0c7jonb36v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUqhHe5Wnefb03llL6RJBQ8qtuEsQ_beg</string>
	<key>GCM_SENDER_ID</key>
	<string>952211328639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tamilvivaham.thirumanam</string>
	<key>PROJECT_ID</key>
	<string>tamilvivaham-5733a</string>
	<key>STORAGE_BUCKET</key>
	<string>tamilvivaham-5733a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952211328639:ios:5b8a99794e7c50e0def94a</string>
</dict>
</plist>